<h1><%= @category.title %></h1>

<ul>
<% @category.items.each do |item| %>
  <li><%= link_to item.title, item_path(item) %>:
    <%= number_to_currency(item.price/100) %>
    <%= button_to 'Add to Cart', line_items_path(item_id: item) %></li>
<% end %>
</ul>